@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.life-savers-regular {
    font-family: "Life Savers", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .life-savers-bold {
    font-family: "Life Savers", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .life-savers-extrabold {
    font-family: "Life Savers", serif;
    font-weight: 800;
    font-style: normal;
  }
  